---
---

@import "{{ site.theme }}";
html {
  width: 80% !important;
  margin-left: 10vw !important;
  background: #252525;
  background: linear-gradient(#2a2a29, #1c1c1c);
}
body {
  color: white !important;
  margin: 20px;
}

h1 {
  margin: 0;
}
#welcome-to-my-bible-blog {
  color: #ff9b00 !important;
}
h2 {
  color: orange;
}
a {
  color: #ff9b00;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 15px;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #333;
  color: white;
}
